body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{ 
    width: 1200px;
    margin: auto;
    background-color: rgba(0,0,0,0.5); 
    padding-bottom: 2%;
    border-radius: 15px;
}

img{
    width: 200px;
}

header{
    text-align: center;
    padding-top: 6%;
    color: lime;
}

.row-lime{
    text-align: center;
    background-color: lime;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;    
}

button{
    text-align: center; 
    height: 20px;
}  

.monopattini{ 
    color: white;
    margin-left: 10%;
}

.orange{
    background-color: orange;
    height: 25px;
    margin-right: 60%;
    border-radius: 5px;
}

.green{
    background-color: green;
    height: 25px;
    margin-right: 50%;
    border-radius: 5px;
}

.red{
    background-color: red;
    height: 25px;
    margin-right: 90%;
    border-radius: 5px;
}

span{
    font-size:20px;
    margin-right: 10px;
}

